---
title: Mitigating Risk Course
suppress_header: true
description: "Mitigating Risk"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Mitigating Risk
    %h2.headline-subtitle
      Validate your knowledge about mitigating risk as a manager 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Mitigating Risk

        %h3 Interested in getting a badge?
        %p We offer one option to start the process to earn your badge: 
        %ol
          %li You can begin in our <a href="https://gitlab.edcast.com/pathways/mitigating-risk">self-paced option</a> to complete your Mitigating Risk badge in GitLab Learn.

        %h3 Overview
        %p Mitigating Risk is a self paced course</a> offered by <a href= '/handbook/people-group/learning-and-development/'>GitLab Learning & Development</a> to help managers understand how to mitigate risk in their roles.
 
        %h3 Availability
        %p The Mitigating Risk course is available to anyone. Our managers at GitLab are required to complete the course. 
 
        %h3 Why Mitigating Risk course?
 
        %h4 For managers
        %p With the Mitigating Risk course, managers can confirm their knowledge around topics that could potentially arise as risks in their role and how to safely mitigate them. Managers who achieve the badge will have a foundation upon which to continue to grow their skills and knowledge around mitigating risk.
 
        %h3 Course Objectives
        %p Individuals who earn the Mitigating Risk badge will be able to: 
        %ul
          %li Articulate how our values align with being a manager at GitLab
          %li Identify GitLab competencies for our team members
          %li Outline strategies on how to develop as a people leader 
          %li Identify the importance of employment law  
          %li Recognize how employment law applies to managers  
          %li Know how to work with different teams to support you with employment law 
          %li Recognize potential compliance matters that can arise
          %li Name parts of the Arc of Employment 
          %li Know how the Arc of Employment relates to employment law 
          %li Identify warning signs of underperformance 
          %li Determine skill-based and will-based underperformance
          %li Know how to take action on underperformance
          %li Identify the importance of tracking PTO 
          %li Recognize types of PTO we track 
          %li Name best practices for managing PTO
          %li Identify the importance of tracking extended leave 
          %li Recognize types of extended leave within your team
          %li Name best practices for managing extended leave
