---
layout: handbook-page-toc
title: "Sec & Data Science Quality Engineering team"
description: "Quality Engineering team for the Sec & Data Science Sections"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Common Links

| **GitLab Team Handle** | [`@gl-quality/sec-qe`](https://gitlab.com/gl-quality/sec-qe) |
| **Slack Channel** | [#g_qe_sec_data_science](https://gitlab.slack.com/archives/C0412LJ90P8) |
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/1524991) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this team are embedded in the [Sec Section] and [Data Science Section].

## Team members

Quality Engineering Manager: Vincy Wilson

[Sec section]

| S.No 	| Stage        | Group                       | SET Counterpart                                                        	|
|------	|--------------|-----------------------------|------------------------------------------------------------------------	|
| 1    	| [Secure]     | [Static Analysis]           | Careem Ahamed                                                         	|
| 2    	| [Secure]     | [Dynamic Analysis]          | TBH                                                       	            |
| 3    	| [Secure]     | [Composition Analysis]      | Will Meek                                                                |
| 4    	| [Secure]     | [Vulnerability Research]    | TBH                                                                   	|
| 5    	| [Govern]     | [Security Policies]         | TBH                                                                    	|
| 6    	| [Govern]     | [Threat Insights]           | Harsha Muralidhar                                                        |
| 7    	| [Govern]     | [Compliance]                | TBH                                                                      |

[Data Science section]

| S.No 	| Stage         	| Group                       | SET Counterpart                                                   |
|------	|-----------------|-----------------------------|---------------------------------------------------------------------|
| 1    	| [Anti-Abuse]    | [Anti-Abuse]                | TBH                                                                    	|
| 2    	| [ModelOps]      | [AI Assisted]  | Mark Lapierre                                                       |
| 3    	| [ModelOps]      | [MLOps]                     | TBH                                                                 |
| 4    	| [ModelOps]      | [DataOps]                   | TBH                                                                 |

## OKRs

Every quarter, the team commits to [Objectives and Key Results (OKRs)](/company/okrs/). The below shows current OKRs and is updated regularly as the quarter progresses.

- [Overview](https://gitlab.com/gitlab-com/gitlab-OKRs/-/work_items/122388037) of our current Sec Quality Engineering OKR.
- [Overview](https://gitlab.com/gitlab-com/gitlab-OKRs/-/work_items/122584430) of our current Data Science Quality Engineering OKR.

## Quality Performance Indicators for Sec Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="300" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'sec' }]}) %>">

[Sec section]: /handbook/product/categories/#sec-section
[Secure]: /handbook/product/categories/#secure-stage
[Static Analysis]: /handbook/product/categories/#static-analysis-group
[Dynamic Analysis]: /handbook/product/categories/#dynamic-analysis-group
[Composition Analysis]: /handbook/product/categories/#composition-analysis-group
[Vulnerability Research]: /handbook/product/categories/#vulnerability-research-group
[Govern]: /handbook/product/categories/#govern-stage
[Security Policies]: /handbook/product/categories/#security-policies-group
[Threat Insights]: /handbook/product/categories/#threat-insights-group
[Compliance]: /handbook/product/categories/#compliance-group
[Data Science section]: /handbook/product/categories/#data-science-section
[Anti-Abuse]: /handbook/product/categories/#anti-abuse-stage
[Anti-Abuse]: /handbook/product/categories/#anti-abuse-group
[ModelOps]: /handbook/product/categories/#modelops-group
[AI Assisted]: /handbook/product/categories/#ai-assisted-group
[MLOps]: /handbook/product/categories/#mlops-group
[DataOps]: /handbook/product/categories/#dataops-group
