---
layout: markdown_page
title: "Customer Success Management READMEs"
description: "Readme documents for members of Customer Success Management group"
---

- pages = sitemap.resources.select { |resource| resource.path.start_with?("handbook/customer-success/csm/readmes/") }
- pages = pages.reject{|page| page.data.job.nil?}

= partial "handbook/customer-success/csm/readmes/toc.html.haml", locals: {pages: pages.sort_by(&:path)}
