---
layout: handbook-page-toc
title: "Secure Stage Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Group Pages
* [Static Analysis Group Dashboards](/handbook/engineering/metrics/sec/secure/static-analysis)
* [Dynamic Analysis Group Dashboards](/handbook/engineering/metrics/sec/secure/dynamic-analysis)
* [Composition Analysis Group Dashboards](/handbook/engineering/metrics/sec/secure/composition-analysis)
* [Vulnerability Research Group Dashboards](/handbook/engineering/metrics/sec/secure/vulnerability-research)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "stage", filter_value: "Secure" } %>

## Say Do Ratios

Say do ratios measure the number of product issues that were committed to a development phase vs. the number of product issues that were closed at the end of the release cycle. We don’t want to put pressure on teams to make commitments and push to deliver on those commitments. Rather, we want to optimize for <a href="/handbook/engineering/development/principles/#velocity-over-predictability">velocity over predictability</a> to deliver more value per release. It’s important to note that this is also not used as a comparative metric across team but rather to help each team understand what they are consistently able to deliver during each release. Additionally, the say do ratios help us clean up issues and encourage conversations between engineering managers and product managers.

(<a href="https://app.periscopedata.com/app/gitlab/658030/Say-Do-Ratios" target="_blank">Sisense↗</a>)
