To help us stay on track with [Development KPIs](/company/kpis/#development-department-kpis), we track this in our <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "Dev"},{name: "team_name", value: "Create:Source Code Frontend"}], visible: ["sub_department", "team_name"] ) %>">metrics dashboard</a>:

<embed width="100%" height="100%" style="min-height:690px;" src="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "Dev"},{name: "team_name", value: "Create:Source Code Frontend"}]) %>">
