These KPIs are a subset of the [Development Department Performance Indicators](/handbook/engineering/development/performance-indicators/) and configured for just the Create:Code Review Backend Team.

<% if ENV['PERISCOPE_EMBED_API_KEY'] %>
  <div>
    <embed width="100%" height="350" src="<%= signed_periscope_url(dashboard: 922124, chart: 13660482, embed: 'v2') %>">
  </div>
  <% else %>
    <p>You must set a <code>PERISCOPE_EMBED_API_KEY</code> environment variable to render this chart.</p>
<% end %>

You can find our dashboards here:

- [Code Review Development Metrics](https://app.periscopedata.com/app/gitlab/786869/Code-Review-BE:Development-Metrics)
- [Code Review BE KPIs](https://app.periscopedata.com/app/gitlab/922124/Code-Review-BE-KPIs)
- [Development Department Performance Indicators](/handbook/engineering/development/performance-indicators/)
