---
layout: markdown_page
title: "Security READMEs"
description: "README documents for members of the Security Department"
---

- pages = sitemap.resources.select { |resource| resource.path.start_with?("handbook/security/readmes/") }
- pages = pages.reject{|page| page.data.job.nil?}

= partial "handbook/security/readmes/toc.html.haml", locals: {pages: pages.sort_by(&:path)}
